<footer class="site-footer mt-5">
    <div class="container">
        <hr class="m-0">
        <div class="mt-4 mb-4">
            <span class="text-muted">
                Proudly Canadian. Toronto, Ontario, Canada.
                {{ readFile "assets/canada-flag.svg" | safeHTML }}
            </span>
            <div class="text-muted">
                &copy; {{ now.Year }} Alora Labs Inc. All rights reserved.
            </div>
        </div>
    </div>
</footer>

{{ $scripts := resources.Get "scripts/main.ts" }}
{{ $js := $scripts | js.Build }}
<script src="{{ $js.RelPermalink }}" integrity="{{ $js.Data.Integrity }}"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/instantclick/3.1.0/instantclick.min.js" data-no-instant></script>
<script data-no-instant>InstantClick.init();</script>
</body>
